<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d |%t|%c{2}|  %-5p - %m%n"/>
        </layout>
    </appender>

    <appender name="graylog" class="org.graylog2.log.GelfAppender">
        <param name="graylogHost" value="${type}:${ghost}"/>
        <!--<param name="graylogHost" value="udp:logging.syslog.udp.dev.globoi.com"/>-->
        <!--<param name="graylogPort" value="12201"/>-->
        <!--<param name="graylogHost" value="udp:graylog2.rjocta012ahobe-88.cp.globoi.com"/>-->
        <param name="originHost" value="maquinadolucas.com"/>
        <param name="extractStacktrace" value="true"/>
        <param name="onlyShortMessage" value="true"/>
        <param name="addExtendedInformation" value="true"/>
        <param name="sendTimeout" value="200000"/>
        <param name="facility" value="gelf-java"/>
        <param name="Threshold" value="DEBUG"/>
        <param name="retry" value="true"/>
        <param name="blocking" value="true"/>
        <param name="debug" value="true"/>
        <!--<param name="threaded" value="true"/>-->
        <param name="additionalFields" value="{'environment': 'DEV', 'app': 'cloudstack-local', 'teste': ${ta}  }"/>
    </appender>

    <!--<appender name="gelf" class="biz.paluch.logging.gelf.log4j.GelfLogAppender">-->
    <!--<param name="Threshold" value="INFO" />-->
    <!--<param name="Host" value="${type}:${ghost}" />-->
    <!--<param name="Port" value="12201" />-->
    <!--<param name="Version" value="1.1" />-->
    <!--<param name="Facility" value="java-test" />-->
    <!--<param name="ExtractStackTrace" value="true" />-->
    <!--<param name="FilterStackTrace" value="true" />-->
    <!--<param name="MdcProfiling" value="true" />-->
    <!--<param name="TimestampPattern" value="yyyy-MM-dd HH:mm:ss,SSSS" />-->
    <!--<param name="MaximumMessageSize" value="8192" />-->
    <!--<param name="OriginHost" value="maquinadolucas.com" />-->

    <!--&lt;!&ndash; This are static fields &ndash;&gt;-->
    <!--<param name="AdditionalFields" value="environment=DEV,app=cloudstack-local,teste=${ta}" />-->
    <!--&lt;!&ndash; Optional: Specify field types &ndash;&gt;-->
    <!--<param name="AdditionalFieldTypes" value="fieldName1=String,fieldName2=Double,fieldName3=String" />-->

    <!--&lt;!&ndash;&lt;!&ndash; This are fields using MDC &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<param name="MdcFields" value="mdcField1,mdcField2" />&ndash;&gt;-->
    <!--&lt;!&ndash;<param name="DynamicMdcFields" value="mdc.*,(mdc|MDC)fields" />&ndash;&gt;-->
    <!--&lt;!&ndash;<param name="IncludeFullMdc" value="true" />&ndash;&gt;-->
    <!--</appender>-->

    <root>
        <priority value="DEBUG"/>
        <!--<appender-ref ref="console"/>-->
        <appender-ref ref="graylog"/>
        <!--<appender-ref ref="gelf"/>-->
    </root>

</log4j:configuration>