<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" packages="org.graylog2.log4j2">
    <Appenders>
        <GELF name="gelfAppender"
              server="${sys:ghost}"
              port="12201"
              hostName="maquinadolucas2.com"
              ignoreExceptions="false"
              includeStackTrace="false"
              protocol="${sys:type}"
              queueSize="1000"
                >

            <PatternLayout pattern="%logger{36} - %msg%n"/>
            <!--<Filters>-->
                <!--<Filter type="MarkerFilter" marker="FLOW" onMatch="DENY" onMismatch="NEUTRAL"/>-->
                <!--<Filter type="MarkerFilter" marker="EXCEPTION" onMatch="DENY" onMismatch="ACCEPT"/>-->
            <!--</Filters>-->
            <!--&lt;!&ndash; Additional fields &ndash;&gt;-->

            <KeyValuePair key="teste" value="${sys:ta}"/>


        </GELF>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="gelfAppender"/>
        </Root>
    </Loggers>
</Configuration>